body {
    background: url('images/WebDevBK.jpg') no-repeat center center fixed;
    background-size: cover;
}
.p-page{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('images/WebDevBK.jpg');
}
nav {
    width: 100%;
}
#site-nav {
    list-style: none;
    margin-right: 5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#site-nav li {
    float: right;
    text-align: center;
    padding: 0 8px;
    margin: 10px;
    font-family: 'Advent Pro';
    color: white;
    font-size: 36px;
}
#site-nav li a{
    display: block;
    text-decoration: none;
    color: white;
}

.active{
    font-weight: 1000!important;
}
#main-about{
    padding: 15%;
    font-family: 'Shadows Into Light Two';
    font-size: 42px;
    color: white;
}
#main-note{
    padding: 5%;
    font-family: 'Shadows Into Light Two';
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(27, 27, 27);
}
#main-projects{
    padding: 10%;
    padding-top: 5%;
    color: white;
    font-size: 36px;
    text-shadow: 3px 3px 3px rgb(27, 27, 27);
    font-family: 'Shadows Into Light Two';
    text-align: center;
}
#main-projects li a{
    color: white; 
    text-decoration: none;
}
#main-projects li a:hover{
    color: rgb(155, 155, 155);
}
#proj1-img{
    background: url('images/WeatherHUB.jpg') no-repeat center;
    background-size: 400px 300px;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.541);
}
#proj1-img:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}
#proj2-img{
    background: url('images/gu-update1.png') no-repeat center;
    background-size: 400px 300px;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(43, 43, 43, 0.541);
}
#proj2-img:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}
#mobile-img{
    background: url('images/mobileApp.png') no-repeat center;
    background-size: 200px 350px;
    width: 200px;
    height: 400px;
}
#main-projects ul { font-size: 30px;}
#main-projects ul li{
    font-size: 24px;
    list-style: none;
}
#main-contact{
    padding: 15%;
    font-family: 'Shadows Into Light Two';
    font-size: 42px;
    color: white;
}
#main-contact a{
    color: white;
    text-decoration: none;
}
