body {
    background-image: url('images/WebDevBK.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
nav {
    width: 100%;
}
#site-nav {
    list-style: none;
    margin-right: 5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#site-nav li {
    float: right;
    text-align: center;
    padding: 0 8px;
    margin: 10px;
    font-family: 'Advent Pro';
    color: white;
    font-size: 36px;
}
#site-nav li a{
    display: block;
    text-decoration: none;
    color: white;
}

.active{
    font-weight: 1000!important;
}
#main-about{
    padding: 15%;
    font-family: 'Shadows Into Light Two';
    font-size: 42px;
    color: white;
}
#main-projects{
    padding: 10%;
    background-image: url('images/WeatherHUB.jpg');
    background-repeat: no-repeat;
    background-size: 400px 300px;
    height: 300px;
    background-position: center;
}
#main-contact{
    padding: 15%;
    font-family: 'Shadows Into Light Two';
    font-size: 42px;
    color: white;
}